# Some basics

Download the following datasets: https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/
and place it in the folder datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('datasets/winequality-red.csv') # using default

In [3]:
df.head()

  fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1   7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2  7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3  11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4   7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5

The default function read is not able to separate the columns. You can indicate how the columns are separated in the arguments (NB: Tab+Shift when you are on the function will give you the list of possible arguments).

In [4]:
df = pd.read_csv('datasets/winequality-red.csv', sep = ';')

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.columns.tolist()

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [7]:
df = df.rename(columns={'free sulfur dioxide': 'free SO2', 'total sulfur dioxide': 'total SO2'})

In [8]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total SO2,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

- Let's imagine that you want to drop some columns:

In [9]:
to_drop = ['chlorides', 'free SO2', 'total SO2']
df.drop(to_drop, inplace = True, axis =1)
# other possibility
# df.drop(columns = to_drop, inplace = True)

In [10]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.9978,3.51,0.56,9.4,5

- Is one of the wine with a unique quality grade?

In [11]:
df['quality'].is_unique

False

- Is there any missing values?

In [12]:
# to check in general if there is at least one NaN
df.isnull().values.any()

False

In [13]:
# NaNs by columns
df.isnull().sum()

fixed acidity       0
volatile acidity    0
citric acid         0
residual sugar      0
density             0
pH                  0
sulphates           0
alcohol             0
quality             0
dtype: int64

- types of data in the dataframe

In [14]:
df.get_dtype_counts()

float64    8
int64      1
dtype: int64

In [15]:
df_dtypes = pd.DataFrame(df.dtypes, columns=['dtypes']).reset_index()
df_dtypes['name'] = df_dtypes['index']
df_dtypes = df_dtypes[['name', 'dtypes']]
df_dtypes['first value'] = df.loc[0].values 
df_dtypes['mean'] = df.mean(axis=0).tolist()
df_dtypes['std'] = df.std(axis=0).tolist()
df_dtypes['minimum'] = df.min(axis=0).tolist()
df_dtypes['maximum'] = df.max(axis=0).tolist()

In [16]:
df_dtypes

,name,dtypes,first value,mean,std,minimum,maximum
0,fixed acidity,float64,7.4000,8.319637,1.741096,4.60000,15.90000
1,volatile acidity,float64,0.7000,0.527821,0.179060,0.12000,1.58000
2,citric acid,float64,0.0000,0.270976,0.194801,0.00000,1.00000
3,residual sugar,float64,1.9000,2.538806,1.409928,0.90000,15.50000
4,density,float64,0.9978,0.996747,0.001887,0.99007,1.00369
5,pH,float64,3.5100,3.311113,0.154386,2.74000,4.01000
6,sulphates,float64,0.5600,0.658149,0.169507,0.33000,2.00000
7,alcohol,float64,9.4000,10.422983,1.065668,8.40000,14.90000
8,quality,int64,5.0000,5.636023,0.807569,3.00000,8.00000

- dimensions of the dataframe (number of rows, number of columns)

In [17]:
df.shape

(1599, 9)

- number of rows (count) containing the same object

In [18]:
df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

- Parameters of the wine with poor quality

In [19]:
poor_wine = df[df['quality']==3]

In [20]:
poor_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,density,pH,sulphates,alcohol,quality
459,11.6,0.580,0.66,2.20,1.00080,3.25,0.57,9.00,3
517,10.4,0.610,0.49,2.10,0.99940,3.16,0.63,8.40,3
690,7.4,1.185,0.00,4.25,0.99660,3.63,0.54,10.70,3
832,10.4,0.440,0.42,1.50,0.99832,3.38,0.86,9.90,3
899,8.3,1.020,0.02,3.40,0.99892,3.48,0.49,11.00,3
1299,7.6,1.580,0.00,2.10,0.99476,3.50,0.40,10.90,3
1374,6.8,0.815,0.00,1.20,0.99471,3.32,0.51,9.80,3
1469,7.3,0.980,0.05,2.10,0.99705,3.31,0.55,9.70,3
1478,7.1,0.875,0.05,5.70,0.99808,3.40,0.52,10.20,3
1505,6.7,0.760,0.02,1.80,0.99600,3.55,0.63,9.95,3

**Once you processed the data, you can save it (to save time later)**

In [21]:
df.to_csv('datasets/processed_data.csv', index=False)